<head>
  <title>大自然</title>
  <%= render "/refinery/head" %>
  <%= render "/refinery/javascripts" %>
  <%=csrf_meta_tags%>

</head>
<body id="<%= canonical_id @page %>">

<div>
  <div id="header">
    <%= render "/refinery/header" %>
  </div>

   <div id="page">
     <%= yield %>
   </div>

</div>

</body>
</html>

